<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SuperRent</title>
  </head>
  <body>
    <div style="position: absolute; left: 30%; top: 100px;">
      <h1 style="text-align: center">SuperRent</h1>
      <a href="{% url 'viewVehicle' %}"><button type="button" class="btn btn-outline-primary">View Vehicles</button></a>
      <a href="{% url 'makeReservation' %}"><button type="button" class="btn btn-outline-primary">Make a reservation</button></a>
      <a href="{% url 'rentVehicle' %}"><button type="button" class="btn btn-outline-primary">Rent a vehicle</button></a>
      <a href="{% url 'returnVehicle' %}"><button type="button" class="btn btn-outline-primary">Return a vehicle</button></a>
    </div>


    <div style="position: absolute; left: 30%; top: 250px;">
        <h1 style="text-align: center">View Tables</h1>
        <div class="row">
            <a href="{% url 'viewBranch' %}"><button type="button" class="btn btn-outline-primary">View branch</button></a>
            <a href="{% url 'viewCustomers' %}"><button type="button" class="btn btn-outline-primary">View Customers</button></a>
            <a href="{% url 'rentVehicle' %}"><button type="button" class="btn btn-outline-primary">View Rentals</button></a>
            <a href="{% url 'makeReservation' %}"><button type="button" class="btn btn-outline-primary">View Reservations</button></a>
        </div>
        <div class="row">
            <a href="{% url 'returnVehicle' %}"><button type="button" class="btn btn-outline-primary">View Returns</button></a>
            <a href="{% url 'viewVehicle' %}"><button type="button" class="btn btn-outline-primary">View Vehicles</button></a>
            <a href="{% url 'viewVehicle' %}"><button type="button" class="btn btn-outline-primary">View Vehicle Type</button></a>
            <a href="{% url 'viewVehicle' %}"><button type="button" class="btn btn-outline-primary">View Users</button></a>
            <a href="{% url 'allTables' %}"><button type="button" class="btn btn-outline-primary">View all tables</button></a>
        </div>        
      </div>
      <div style="position: absolute; left: 40%; top: 450px;">
          <h1 style="text-align: center">View Reports</h1>
          
              <a href="{% url 'dailyReturns' %}"><button type="button" class="btn btn-outline-primary">Daily Returns</button></a>
              <a href="{% url 'dailyReturnsBranch' %}"><button type="button" class="btn btn-outline-primary">Daily Returns Branch</button></a>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>